<h2>API Document v1</h2>
http://api.metarubygems.org<br />
<br />
/v1/gems/[gem_name]/compare/[version_from]...[version_to]<br />
<br />
e.g. <a href="http://api.metarubygems.org/v1/gems/activerecord/compare/4.1.5...4.1.8">Compare ActiveRecord v4.1.5 with v4.1.8</a><br />
<br />
We does not support all rubygems yet. We have gem which name start with A-I(over 200000 gems).
